@{
    ViewData["Title"] = "Why I Like Gizmo ";
}
<div class="col p-3 rounded-3" style="border:solid black 1px; background-color:lightyellow;">
    <h1>About Magwais</h1>
    <p id="NoGrem">
        Mogwai are rare sapient beings that are furry, cute, and very curious. They can transform into 
        reptilian, highly destructive creatures called Gremlins.
    </p>
    <p id="NoGrem">
        They were created on an extraterrestrial planet by a placid scientist named Mogturmen, as 
        the ultimate organism, docile, loveable little powder puffs, intended to promote peace and good 
        will throughout the galaxy as ambassadors for harmony. The Mogwai were created to be able to 
        survive in almost every environment and also to reproduce very easily. The Mogwai were then sent
        out to three planets, Klm-6 in the Porasti Range, Clinpf-A of the Beehive Pollux, and the third 
        planet of MinorSun#67672, the planet Earth. Due to several of Mogturmen's miscalculations, though, 
        only one in 10,000 Mogwai turned out good and affectionate. Most others turned out more malicious 
        and evil. They burned into the legends and folklore of our ancestors, as the pixies and goblins, 
        of fables gone by.
    </p>
    <br />
    <h2>Gizmo</h2>

    <p id="NoGrem">
        The Mogwai known as Gizmo is a perfect Mogwai since he's well-meaning and sweet, he was sent to
        Earth and was eventually found by Mr. Wing.
    </p>
</div>


