@{
    ViewData["Title"] = "Contact Future Value";
}
<body style="margin-left:20px">
<h2>Future Value</h2>
<h3>Calculate it here!</h3>

<address>
    555 Dorby St.<br />
    FutureCity, MI 55511<br />
    <abbr title="Phone">P:</abbr>
    800.555.5551
</address>

<address>
    <strong>Future Problems:</strong> <a href="mailto:Problems@Future.com">Problems@future.com</a><br />
    <strong>Future Solution:</strong> <a href="mailto:Marketing@future.com">Solutions@future.com</a><br>
    <strong>Future Africa:</strong> <a href="mailto:Africa@future.com">Africa@future.com</a><br />
</address>
</body>
