@{
    ViewData["Title"] = "I like Gizmo";
}
<div class="text-center">
    <h1 class="display-5">The Best Magwai</h1>
    <h1 class="display-2">Gizmo</h1>
</div>
<div class="jumbotron img-fluid" style="background-color:lightyellow; border:solid 2px black">  
    <p>
        <img src="~/images/Gremlins-Mogwai.jpg" alt="gizmo" style="width:50%; border:white solid 5px;" class="rounded-circle mx-auto d-block mt-3" />
    </p>
    <p class="text-center" style="font-size:20px; font-family:'Black Brutal';">Furry, Cute, Very Curious and Very Dangerous</p>
</div>
