@{
    ViewData["Title"] = "The Rules";
}
<body class="col">
    <header class="text-center mb-3">
        <h2 class="mt-3" style="margin-bottom:-10px;">The Rules</h2>
        <hr/>
        <h3 class="mb-3" style="font-family:'Black Brutal'"> There are three very important rules that anyone who is taking care of a Mogwai should know:</h3>
    </header>
     
    <div class="row rounded-3 p-2" id="NoGrem" style="margin-left:30px; margin-right:30px; background-color:lightyellow; border:solid 1px black">
        
        <div class="col-lg-6 mt-3">

            <p><i class='fa fa-sun' style="font-size:24px;"></i>  Don't put it near light, especially sunlight, it can kill them.</p>
            <p><i class='fa fa-shower' style="font-size:24px;"></i>  Don't let it get wet with water nor give it any water to drink nor bathe it.</p>
            <p><i class='fa fa-clock' style="font-size:24px;"></i>  No matter how much it cries, no matter how much it begs, NEVER feed it after midnight.</p>


        </div>

        <div class="col-lg-6" style="margin:auto;">
            <img src="/images/mogwai-gremlins.jpg" alt="gizmo" class="img-thumbnail mx-auto d-block" style="max-width:320px;">
        </div>
       
    </div>   

</body>


