@{
    ViewData["Title"] = "About Future Value ";
}
<div class="row">
    <h1 class="col-sm-12">About Us</h1>
    <p class="col-sm-6">
        We're proud to serve nearly half of America’s households with a broad range of
        financial services, including personal banking, credit cards, mortgages,
        auto financing, investment advice, small business loans and payment processing.
    </p>
    <img src="~/Images/team.jpg" alt="our team" class="col-sm-6 rounded-circle" />

    <h2 class="col-sm-12">Future Value</h2>

    <p class="row-sm-6">
        Future Value was made by one dude, his name was Larry.  In 1998, Larry put it on the web for free.
        Larry kind of regrets that now though.  Others took that idea and made millions, all Larry
        has is this "About" page.
    </p>
    <p class="row-sm-6">
        In 2022, Larry's app is being used in a college class.  No one knows were Larry is today but this
        is a chilling reminder of why nothing should be free.
    </p>

    <h6 style="margin-left:10px">Last known photo of Larry</h6>
    <img src="~/images/Larry.jpg" alt="poor Larry" class="rounded-circle" style="width:200px"/>
</div>
